<nav class="navbar navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca de Gaby</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Iniciar sesión   </a>
            <a class="nav-link" href="{{url_for('libros')}}">Libros </a>
            <a class="nav-link" href="{{url_for('autores')}}">Autores </a>
            <a class="nav-link disabled" aria-disabled="true">Países </a>
            <a class="nav-link disabled" aria-disabled="true">Editoriales </a>
        </div>
      </div>
    </div>
  </nav>