<nav class="navbar navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">Biblioteca de Gaby</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Iniciar sesión   </a>
            <a class="nav-link" href="{{url_for('libros')}}">Libros </a>
            <a class="nav-link" href="{{url_for('insertar_libro')}}">Insertar libro </a>
            <a class="nav-link" href="{{url_for('autores')}}">Autores </a>
            <a class="nav-link disabled" href="{{url_for('paises')}}">Países </a>
            <a class="nav-link disabled" aria-disabled="true">Editoriales </a>
        </div>
      </div>
    </div>
  </nav>