{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %} 
            Biblioteca Web App - Países
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <h2>Listado de países</h2>
      <div class="container-fluid">
        <table class="table table-success table-striped">
            <tr>
                <th scope="col">Id. del país</th>
                <th scope="col">País</th>
            </tr>
            {% for pais in datos %}
                <tr>
                    <td>{{ pais[0] }}</td>
                    <td>{{ pais[1] }}</td>
                    <td>
                        <form action="" method="POST">
                            <button type="submit" class="btn btn-primary">
                                Editar
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_pais', id_pais=pais[0]) }}" method="POST">
                            <button type="submit" class="btn btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
      </div>
    {% endblock %}
{% endblock %}
